<div class="container">

  <span class="header"> Pizzaria Horacio</span>

  <div id="container_demo">

    <div id="wrapper">

        <div id="comanda">

            <h1>Comanda</h1>
          
            <form>
          
              <p>
                <label> Chop</label>
                <input type="text" name="inChop" />
              </p>

              <p>
                  <label> Pizza</label>
                  <input type="text" name="inPizza" />
                </p>
                <p>
                    <label> Recheios</label>
                    <input type="text" name="inRecheios" />
                  </p>

                  <p>
                      <label> Recheios</label>
                      <input type="text" name="inRecheios" />
                    </p>
  
                    <p>
                        <label> Pessoas</label>
                        <input type="text" name="inPessoas" />
                      </p>
    
          
              <p class="keepcomanda">
                <input type="checkbox" name="inServico" />
                <label>Taxa de servico</label>
              </p>
          
              <p class="comanda button">
                <input type="submit" value="Registrar" />
              </p>
          
            </form>
          
            <p class=" about">Gustavo Xavier|Izabel Salvati</p>
          
          
          </div>
          
          
          
    </div>

  </div>

</div>

